<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta Information -->
  <title>Story-Busters Home page</title>

  <!--External CSS-->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Luckiest+Guy&display=swap&family=Squada+One&display=swap"
    rel="stylesheet">

  <!--Custom CSS-->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/stories.css" type="text/css" />

  <!--External JS-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <!--Custom JS-->
  <script defer type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <!-- <div class="aboveheader">
  </div> -->
  <%- include('partials/_header') %>


    <h1 class="page-title"> Take a look at our stories</h1>

    <div id="boxes">
      <br>
      <div class="container">
        <div class="storybox">
          <h2 class="storytitle">
            <%= story1.name %>
          </h2>
          <%= story1.content %>
            <% if (story1.is_complete) { %>
              <%= isComplete %>
                <% } %>
        </div>

        <div class="storybox">
          <h2 class="storytitle">
            <%= story2.name %>
          </h2>
          <%= story2.content %>
            <% if (story2.is_complete) { %>
              <%= isComplete %>
                <% } %>
        </div>

        <div class="storybox">
          <h2 class="storytitle">
            <%= story3.name %>
          </h2>
          <%= story3.content %>
            <% if (story3.is_complete) { %>
              <%= isComplete %>
                <% } %>
        </div>


      </div>
      <div class="container">
        <div class="storybox">
          <h2 class="storytitle">
            <%= story4.name %>
          </h2>
          <%= story4.content %>
            <% if (story4.is_complete) { %>
              <%= isComplete %>
                <% } %>
        </div>


        <div class="storybox">
          <h2 class="storytitle">
            <%= story5.name %>
          </h2>
          <%= story5.content %>
            <% if (story5.is_complete) { %>
              <%= isComplete %>
                <% } %>
        </div>

        <div class="storybox">
          <h2 class="storytitle">
            <%= story6.name %>
          </h2>
          <%= story6.content %>
            <% if (story6.is_complete) { %>
              <%= isComplete %>
                <% } %>
        </div>

      </div>
    </div>
</body>

</html>
